<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <!-- google icon  -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <!--  css file  -->
    <link th:href="@{/css/signin.css}" rel="stylesheet" />
  </head>
  <body>
    <div class="wrapper">
      <div th:replace="fragments/top-header-fragment :: top-header"></div>
    </div>
    <div th:class="main">
      <div th:class="login">
        <div th:class="logo-area">
          <div th:class="logo">
            <a href="@{/}">
              <img th:src="@{/img/StayConnect-logo.png}" alt="" />
            </a>
          </div>
        </div>

        <div th:class="login-area">
          <div th:class="contents">
            <form action="">
              <div th:class="insert">
                <div th:class="id">
                  <span>아이디</span>
                  <input type="text" th:placeholder="'아이디를 입력하세요'" />
                </div>
                <div th:class="pw">
                  <span>비밀번호</span>
                  <input type="text" th:placeholder="'비밀번호를 입력하세요'" />
                </div>
              </div>

              <div th:class="id_save">
                <div>
                  <input type="checkbox" name="아이디저장" th:id="save" />
                  <a th:href="@{/}">아이디저장</a>
                </div>
                <div>
                  <ul>
                    <li th:class="search_id">
                      <a href="@{/}">아이디 찾기</a>
                    </li>
                    <li th:class="split">|</li>
                    <li th:class="search_pw">
                      <a href="@{/}">비밀번호 찾기</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div th:id="kakao">
                <div th:id="kakao_customBtn" th:class="customKPlusSignIn">
                  <span th:class="K_icon"></span>
                  <span th:class="buttonText">카카오로 시작하기</span>
                </div>
              </div>

              <div th:id="naver">
                <div th:id="naver_customBtn" th:class="customNPlusSignIn">
                  <span th:class="N_icon"></span>
                  <span th:class="buttonText">네이버로 시작하기</span>
                </div>
              </div>

              <div th:id="google">
                <div th:id="google_customBtn" th:class="customGPlusSignIn">
                  <span th:class="G_icon"></span>
                  <span th:class="buttonText">Google로 시작하기</span>
                </div>
              </div>
              <div th:class="button-login">
                <div>
                  <a th:href="@{/}">로그인</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <footer>
        <div th:replace="fragments/footer-fragment :: footer"></div>
      </footer>
    </div>
  </body>
</html>
