<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>

    <!-- Google Icon -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <style>
        .material-symbols-outlined {
            font-variation-settings:
                    'FILL' 0,
                    'wght' 400,
                    'GRAD' 0,
                    'opsz' 24
        }
    </style>
    <!-- main.css -->
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <!-- signup.css -->
    <link th:href="@{/css/signup.css}" rel="stylesheet">

</head>

<body>
<div class="wrapper">
    <div th:replace="fragments/top-header-fragment :: top-header"></div>
</div>

<div class="join-logo"><img th:src="@{/img/StayConnect-logo.png}"></div>
<div class="container">
    <form th:action="@{/joinProc}" method="post" class="joinForm">
        <div class="joinTitle"><h2>회원가입</h2></div>
        <div class="top-join">
            <div class="user-input">
                <!-- 이름 입력 -->
                <div class="user-input">
                    <span class="listBox">
                        <h6 class="list">이름</h6>
                    <span>
                        <input type="text" id="name" class="input-blank" placeholder="이름을 입력하세요">
                    </span>
                </div>
                <!-- 생년월일/성별 -->
                <div class="user-input">
                    <span class="listBox">
                        <h6 class="list">생년월일/성별</h6>
                    </span>
                    <div class="id-no">
                        <div class="id-no-space">
                            <input type="text" class="input-blank" placeholder="생년월일 6자리" >
                        </div>
                        <div class="id-no-space">-</div>
                        <div class="id-no-space">
                            <select class="fm">
                                <option value="male">1</option>
                                <option value="female">2</option>
                            </select>
                            <span>●●●●●●</span>
                        </div>
                    </div>
                </div>
                <!-- 전화번호 입력 -->
                <div class="user-input">
                    <span class="listBox">
                        <h6 class="list">전화번호</h6>
                    </span>
                    <span><input type="text" id="phone" class="input-blank" placeholder="전화번호를 입력하세요(- 제외)"></span>
                </div>
                <!-- 이메일 입력 -->
                <div class="user-input">
                    <span class="listBox">
                        <h6 class="list">이메일</h6>
                    </span>
                    <span><input type="text" class="input-blank" placeholder="이메일을 입력하세요"></span>
                </div>
                <!-- 아이디 입력 -->
                <div class="user-input">
                    <span class="listBox">
                        <h6 class="list">아이디</h6>
                    </span>
                    <span><input type="text" class="input-blank" placeholder="아이디를 입력하세요"></span>
                </div>
                <!-- 비밀번호 입력 -->
                <div class="user-input">
                        <span class="listBox">
                            <h6 class="list">비밀번호</h6>
                        </span>
                    <span><input type="password" class="input-blank" placeholder="영어, 숫자, 특수문자를 조합한 8자리 이상"></span>
                </div>
                <!-- 비밀번호 확인 입력 -->
                <div class="user-input">
                        <span class="listBox">
                            <h6 class="list">비밀번호 확인</h6>
                        </span>
                    <span><input type="password" class="input-blank" placeholder="동일한 비밀번호를 입력하세요"></span>
                </div>
            </div>
        </div>
        <div class="mid-join">
            <div class="all-agree">
                <div class="agree-list"><h6 class="list">약관 동의</h6></div>
                <div class="agree-list"><input type="checkbox" id="id_a"> 전체 약관 동의</div>
            </div>
            <div class="agree">
                <div class="agree-list"><input type="checkbox" id="id_b"> [필수] 이용 약관에 동의합니다.</div>
                <div class="agree-list"><input type="checkbox" id="id_c"> [필수] 개인정보 수집 및 이용에 동의합니다.</div>
                <div class="agree-list-select"><input type="checkbox" id="id_d"> [선택] 프로모션 수신에 동의합니다.</div>
            </div>
        </div>
        <div class="bot-join">
            <div class="join-kakao">
                <a th:href="@{#}" class="join-oth">
                    <span><img th:src="@{/img/kakao_logo.png}" class="join-oth-logo"></span>
                    <span>카카오로 시작하기</span>
                </a>
            </div>
            <div class="join-naver">
                <a th:href="@{#}" class="join-oth">
                    <span><img th:src="@{/img/naver_logo.png}" class="join-oth-logo"></span>
                    <span>네이버로 시작하기</span>
                </a>
            </div>
            <div class="join-google">
                <a th:href="@{#}" class="join-oth">
                    <span><img th:src="@{img/google_logo.png}" class="join-oth-logo"></span>
                    <span>구글로 시작하기</span>
                </a>
            </div>
        </div>
        <div class="foot-join">
            <div class="back-or-join"><a th:href="@{/static}" >돌아가기</a></div>
            <div class="back-or-join"><a th:href="@{#}" >가입하기</a></div>
        </div>
    </form>
</div>
</div>

<footer>
    <div th:replace="fragments/footer-fragment :: footer"></div>
</footer>



<script>
    // 휴대폰정보 '-' 자동 생성
    document.getElementById('phone').addEventListener('input', function (e) {
        var target = e.target;
        var phone = target.value.replace(/[^0-9]/g, '');
        var formattedPhone = '';

        if (phone.length < 4) {
            formattedPhone = phone;
        } else if (phone.length < 7) {
            formattedPhone = phone.substring(0, 3) + '-' + phone.substring(3);
        } else if (phone.length < 11) {
            formattedPhone = phone.substring(0, 3) + '-' + phone.substring(3, 6) + '-' + phone.substring(6);
        } else {
            formattedPhone = phone.substring(0, 3) + '-' + phone.substring(3, 7) + '-' + phone.substring(7, 11);
        }

        target.value = formattedPhone;
    });

    // 체크박스 전체동의
    document.addEventListener('DOMContentLoaded', () => {
        const ckTag = document.getElementById('id_a')
        const evtBtnTag1 = document.getElementById('id_b')
        const evtBtnTag2 = document.getElementById('id_c')
        const evtBtnTag3 = document.getElementById('id_d')
        const evtBtnTag4 = document.getElementById('id_e')

        ckTag.addEventListener('click', (event) => {

            const chckValue = event.currentTarget.checked;

            evtBtnTag1.checked = chckValue
            evtBtnTag2.checked = chckValue
            evtBtnTag3.checked = chckValue
            evtBtnTag4.checked = chckValue

        })

        evtBtnTag1.addEventListener('click', (event) => {
            if(event.currentTarget.checked == false){
                ckTag.checked = false;
            }
        })
        evtBtnTag1.addEventListener('click', (event) => {
            if(event.currentTarget.checked == false){
                ckTag.checked = false;
            }
        })
        evtBtnTag3.addEventListener('click', (event) => {
            if(event.currentTarget.checked == false){
                ckTag.checked = false;
            }
        })
        evtBtnTag4.addEventListener('click', (event) => {
            if(event.currentTarget.checked == false){
                ckTag.checked = false;
            }
        })
    })

</script>


</body>
</html>