@font-face {
  font-family: 'SUIT-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html,
body {
  height: 100%;
}

.layoutContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

section {
  flex: 1;
  display: flex;
}
main {
  flex: 4;
}

aside {
  flex: 1;
  flex-shrink: 0;
  /* border-color: hsl(210deg 100% 50%);
  background-color: hsl(210deg 100% 50% / 0.2); */
}

/* MediaQuery */
/* mobile */
@media (max-width: 768px) {
  .main {
    margin: 0 auto;
    width: 100%;
  }

  .btn_goChat {
    display: none;
  }

  /* header */
  .header {
    height: 100px;
  }

  .header div .logo a .img-fluid {
    width: auto;
    height: 100px;
  }

  .header nav .nav-link {
    top: -6px;
  }

  .header nav .nav-icon {
    top: -6px;
  }

  /* footer */
  .footer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: auto; /* Adjust height to auto to fit new layout */
  }

  #member1 {
    width: 60px;
    height: auto;
    margin: 10px;
    flex-direction: column;
    /* align-items: center; */
  }

  .footer .member {
    width: 60px;
    height: auto;
    margin: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-left: 70px;
  }

  .footer .member p {
    margin: 0;
    line-height: 20px;
    margin-top: 10px;
  }

  .footer .member .icons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .footer .member .icons a img {
    width: 25px;
    height: 25px;
    /* margin: 0 10px; */
  }
}

/* tablet */
@media (min-width: 769px) and (max-width: 1024px) {
  .indexContainer {
    padding: 20px;
  }

  .rightAside,
  .leftAside {
    width: 20%;
    display: block;
  }
}

/* monitor */
@media (min-width: 1065px) {
  .indexContainer {
    padding: 30px;
  }

  .rightAside,
  .leftAside {
    width: 25%;
    display: block;
  }
}
