<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/common/footer.css}" />
    <link rel="stylesheet" th:href="@{/css/common/header.css}" />
    <link rel="stylesheet" th:href="@{/css/pages/user/userChat.css}" />
    <link rel="stylesheet" th:href="@{/css/layouts/layout.css}" />
    <link rel="stylesheet" th:href="@{/lib/bootstrap/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/lib/googleapis/fonts.css}" />
    <script th:src="@{/lib/bootstrap/bootstrap.min.js}"></script>
    <script th:src="@{/lib/ajax/popper.min.js}"></script>
    <script th:src="@{/lib/jquery/jquery.min.js}"></script>
    <th:block layout:fragment="title"></th:block>
    <!-- title -->
    <th:block layout:fragment="css"></th:block>
    <!-- css -->
    <th:block layout:fragment="javascript"></th:block>
    <!-- javascript -->
  </head>
  <body>
    <div class="layoutContainer">
      <header>
        <div th:insert="~{fragments/common/header_frag::header}"></div>
      </header>
      <section>
        <aside>
          <th:block layout:fragment="leftAside"></th:block>
        </aside>
        <main><th:block layout:fragment="main"></th:block></main>
        <aside>
          <th:block layout:fragment="rightAside"></th:block>
        </aside>
      </section>
      <footer>
        <div th:insert="~{fragments/common/footer_frag::footer}"></div>
      </footer>
    </div>
  </body>
</html>
