<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.min.js"></script>
    </head>
    <body>
        <div>
            <h1>Reservation Chart</h1>
            <canvas id="monthlyReservationsChart" width="400" height="200"></canvas>
        </div>

        <script th:src="@{/js/chart.js}"></script>
    </body>
</html>
