<!DOCTYPE html>
<html
    lang="en"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout}"
>
    <th:block layout:fragment="title">
        <title>reviewList page</title>
    </th:block>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/pages/admin/reviewList.css}" />
        <link rel="stylesheet" th:href="@{/css/pages/chatCard.css}" />
    </th:block>
    <th:block layout:fragment="javascript">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.0/chart.umd.min.js"></script>
        <script src="https://cdn.jsdelivr.net/sockjs/1.0.3/sockjs.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
        <script th:src="@{/js/chat/chat.js}"></script>
    </th:block>

    <th:block layout:fragment="leftAside">
        <div th:insert="~{fragments/admin/adminMenu_frag :: adminMenu}"></div>
    </th:block>
    <th:block layout:fragment="main">
        <div class="monthlyReserv col-md-6">
            <h1>월별 예약 수</h1>
            <canvas id="monthlyReservationsChart" width="150" height="100"></canvas>
        </div>
        <div class="ReservByRegionChart col-md-6">
            <h1>지역별 예약 수</h1>
            <canvas id="regionChart" width="150" height="100"></canvas>
        </div>
        <div class="UserByAgeChart col-md-6">
            <h1>연령별 이용자 수</h1>
            <canvas id="ageChart" width="200" height="200"></canvas>
        </div>

        <script th:inline="javascript">
            //====================================================================================
            //월별 예약수
            //====================================================================================

            /*<![CDATA[*/
            document.addEventListener('DOMContentLoaded', function () {
                var ctx = document.getElementById('monthlyReservationsChart').getContext('2d');

                var reservationStats = /*[[${reservationStats}]]*/ '[]';

                reservationStats = JSON.parse(reservationStats);

                var labels = reservationStats.map((stat) => stat[0] + '-' + (stat[1] < 10 ? '0' : '') + stat[1]);
                var data = reservationStats.map((stat) => stat[2]);

                var chartData = {
                    labels: labels,
                    datasets: [
                        {
                            label: 'Monthly Reservations',
                            data: data,
                            backgroundColor: 'rgba(75, 192, 192, 0.2)',
                            borderColor: 'rgba(75, 192, 192, 1)',
                            borderWidth: 1,
                        },
                    ],
                };
                var options = {
                    plugins: {
                        legend: {
                            display: false,
                        },
                    },
                    scales: {
                        y: {
                            beginAtZero: true,
                        },
                    },
                };
                var usageChart = new Chart(ctx, {
                    type: 'line',
                    data: chartData,
                    options: options,
                });
            });
            /*]]>*/

            //====================================================================================
            //지역별 예약 수치
            //====================================================================================

            /*<![CDATA[*/

            var reservationsByRegion = /*[[${reservationsByRegion}]]*/ '[]';
            console.log(reservationsByRegion);
            document.addEventListener('DOMContentLoaded', function () {
                var ctx = document.getElementById('regionChart').getContext('2d');

                var labels = reservationsByRegion.map((stat) => stat.region);
                var data = reservationsByRegion.map((stat) => stat.count);

                var chartData = {
                    labels: labels,
                    datasets: [
                        {
                            label: 'Reservations By Region',
                            data: data,
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)',
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)',
                            ],
                            borderWidth: 1,
                        },
                    ],
                };
                var options = {
                    plugins: {
                        legend: {
                            display: false,
                        },
                    },
                    scales: {
                        y: {
                            beginAtZero: true,
                        },
                    },
                };
                var reservationsByRegionChart = new Chart(ctx, {
                    type: 'pie',
                    data: chartData,
                    options: options,
                });
            });
            /*]]>*/

            //====================================================================================
            //연령별 이용자 수
            //====================================================================================

            /*<![CDATA[*/

            var ageStats = /*[[${ageStats}]]*/ '[]';

            document.addEventListener('DOMContentLoaded', function () {
                var ctx = document.getElementById('ageChart').getContext('2d');

                var labels = ageStats.map((stat) => stat.ageRange);
                var data = ageStats.map((stat) => stat.count);

                var chartData = {
                    labels: labels,
                    datasets: [
                        {
                            label: 'UsersByAge',
                            data: data,
                            backgroundColor: 'rgba(75, 192, 192, 0.2)',
                            borderColor: 'rgba(75, 192, 192, 1)',
                            borderWidth: 1,
                        },
                    ],
                };
                var options = {
                    plugins: {
                        legend: {
                            display: false,
                        },
                    },
                    scales: {
                        y: {
                            beginAtZero: true,
                        },
                    },
                };
                var ageChart = new Chart(ctx, {
                    type: 'bar',
                    data: chartData,
                    options: options,
                });
            });
            /*]]>*/
        </script>
    </th:block>

    <th:block layout:fragment="rightAside">
        <div
            class="offcanvas offcanvas-end"
            data-bs-scroll="true"
            data-bs-backdrop="false"
            tabindex="-1"
            id="offcanvasRight"
            aria-labelledby="offcanvasRightLabel"
        >
            <div class="offcanvas-header">
                <h5 id="offcanvasRightLabel">나는 문의 채팅창</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="list-group list-group-numbered">
                    <li
                        class="list-group-item d-flex justify-content-between align-items-start"
                        th:each="chatList : ${lastMessages}"
                    >
                        <div class="ms-2 me-auto">
                            <div class="fw-bold" th:text="${chatList.key}">UserName</div>
                            <div th:text="${chatList.value.contents}">Chat Contents</div>
                        </div>
                        <span class="badge bg-primary rounded-pill">3</span>
                    </li>
                </ul>
            </div>
        </div>
    </th:block>
</html>
