<!DOCTYPE html>
<html
   lang="en"
   xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{layouts/layout}">
   <th:block layout:fragment="title">
      <title>reviewList page</title>
   </th:block>
   <th:block layout:fragment="css">
      <link rel="stylesheet" th:href="@{/css/pages/admin/listPage.css}" />
      <link rel="stylesheet" th:href="@{/css/pages/chatCard.css}" />
   </th:block>
   <th:block layout:fragment="javascript"> </th:block>

   <th:block layout:fragment="leftAside">
      <div th:insert="~{fragments/admin/adminMenu_frag :: adminMenu}"></div>
   </th:block>
   <th:block layout:fragment="main">
      <h3 class="list-title">REVIEW LIST</h3>
      <div class="rowCount">
         <label for="">
            <select name="" id="">
               <option value="10">10</option>
               <option value="25">25</option>
               <option value="50">50</option>
               <option value="100">100</option>
            </select>
         </label>
      </div>

      <div class="list-card">
         <table class="table align-middle table-hover">
            <thead>
               <tr>
                  <th scope="col">IDENTIFY CODE</th>
                  <th scope="col">ID</th>
                  <th scope="col">USER NAME</th>
                  <th scope="col">내용</th>
                  <th scope="col">작성 일자</th>
                  <th scope="col">평점</th>
               </tr>
            </thead>
            <tbody>
               <tr th:each="reviewList : ${reviewList}">
                  <th scope="row" th:text="${reviewList.id}"></th>
                  <td th:text="${reviewList.user.id}"></td>
                  <td th:text="${reviewList.user.username}"></td>
                  <td th:text="${reviewList.contents}"></td>
                  <td th:text="${#temporals.format(reviewList.createdAt, 'yyyy-MM-dd HH:mm')}"></td>
                  <td th:text="${reviewList.rate}"></td>
               </tr>
            </tbody>
            <tfoot>
               <tr>
                  <th scope="col">IDENTIFY CODE</th>
                  <th scope="col">ID</th>
                  <th scope="col">USER NAME</th>
                  <th scope="col">내용</th>
                  <th scope="col">작성 일자</th>
                  <th scope="col">평점</th>
               </tr>
            </tfoot>
         </table>
      </div>
   </th:block>

   <th:block layout:fragment="rightAside"> </th:block>
</html>
