<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout}"
>
  <th:block layout:fragment="javascript">
    <!-- 지도 api -->
    <script
      type="text/javascript"
      src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b8f20a221506b373bac69207f38af4f7"
    ></script>
  </th:block>
  <th:block layout:fragment="title">
    <title>userList page</title>
  </th:block>
  <th:block layout:fragment="css"
    ><link rel="stylesheet" th:href="@{/css/pages/auth/userList.css}"
  /></th:block>
  <th:block layout:fragment="main">
  </th:block>
</html>
