<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout}"
>
    <th:block layout:fragment="javascript"></th:block>
    <th:block layout:fragment="title">
        <title>userList page</title>
    </th:block>
    <th:block layout:fragment="css"
        ><link rel="stylesheet" th:href="@{/css/pages/admin/userList.css}" />
        <link rel="stylesheet" th:href="@{/css/pages/admin/chatCard.css}"
    /></th:block>

    <th:block layout:fragment="leftAside">
        <div class="menu">
            <h3>리뷰 페이지</h3>
            <div><a href="">&nbsp;&nbsp;&nbsp;&nbsp;월별 매출</a></div>
            <div><a href="">&nbsp;&nbsp;&nbsp;&nbsp;사용자 리스트</a></div>
            <div><a href="">&nbsp;&nbsp;&nbsp;&nbsp;리뷰 리스트</a></div>
            <div>
                <a
                    class="btn"
                    type="button"
                    data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasRight"
                    aria-controls="offcanvasRight"
                    >&nbsp;&nbsp;문의 관리</a
                >
            </div>
        </div>
    </th:block>
    <th:block layout:fragment="main">
        <h3 class="list-title">REVIEW LIST</h3>
        <div class="rowCount">
            <label for="">
                <select name="" id="">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
            </label>
        </div>
        <div class="list-card">
            <table class="table align-middle table-hover">
                <thead>
                    <tr>
                        <th scope="col">IDENTIFY CODE</th>
                        <th scope="col">ID</th>
                        <th scope="col">USER NAME</th>
                        <th scope="col">GENDER</th>
                        <th scope="col">EMAIL</th>
                        <th scope="col">PHONE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>User1</td>
                        <td>프린세스</td>
                        <td>남자</td>
                        <td>princess@naver.com</td>
                        <td>010-1232-1234</td>
                    </tr>

                    <tr>
                        <th scope="row">2</th>
                        <td>User2</td>
                        <td>집사1</td>
                        <td>여자</td>
                        <td>princess@naver.com</td>
                        <td>010-1232-1234</td>
                    </tr>

                    <tr>
                        <th scope="row">3</th>
                        <td>User3</td>
                        <td>집사2</td>
                        <td>여자</td>
                        <td>princess@naver.com</td>
                        <td>010-1232-1234</td>
                    </tr>

                    <tr>
                        <th scope="row">4</th>
                        <td>User4</td>
                        <td>집사3</td>
                        <td>여자</td>
                        <td>princess@naver.com</td>
                        <td>010-1232-1234</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th scope="col">IDENTIFY CODE</th>
                        <th scope="col">ID</th>
                        <th scope="col">USER NAME</th>
                        <th scope="col">GENDER</th>
                        <th scope="col">EMAIL</th>
                        <th scope="col">PHONE</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </th:block>

    <th:block layout:fragment="rightAside">
        <div
            class="offcanvas offcanvas-end"
            data-bs-scroll="true"
            data-bs-backdrop="false"
            tabindex="-1"
            id="offcanvasRight"
            aria-labelledby="offcanvasRightLabel"
            th:fragment="chatBlock"
        >
            <div class="offcanvas-header">
                <h5 id="offcanvasRightLabel">나는 문의 채팅창</h5>
                <button
                    type="button"
                    class="btn-close text-reset"
                    data-bs-dismiss="offcanvas"
                    aria-label="Close"
                ></button>
            </div>
            <div class="offcanvas-body">
                <div class="chatCard">
                    <div class="chatLog">
                        
                    </div>
                    <form id="message" action="">
                        <input type="text" id="myMessage" placeholder="메시지를 작성해주세요">
                        <button onclick="">전송</button>
                        <p>
                          <span class="notification"></span>
                        </p>
                      </form>
                </div>
                
            </div>
        </div>
    </th:block>
</html>
