<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout}"
>
  <th:block layout:fragment="title">
    <title>myPage page</title>
  </th:block>
  <th:block layout:fragment="javascript">
    <script>
      $(document).ready(function () {
        // 기본적으로 예약 목록을 표시
        $('#reservationLink').addClass('selected');
        $('.reservation__list').addClass('selected');
        $('.reservation-chk').addClass('selected');

        $('#reservationLink').click(function () {
          $('.reservation__list').addClass('selected');
          $('.reservation-chk').addClass('selected');
          $('.modify__info').removeClass('selected');
          $('.my-info').removeClass('selected');
          $('#reservationLink').addClass('selected');
          $('#myInfoLink').removeClass('selected');
        });

        $('#myInfoLink').click(function () {
          $('.reservation__list').removeClass('selected');
          $('.reservation-chk').removeClass('selected');
          $('.modify__info').addClass('selected');
          $('.my-info').addClass('selected');
          $('#reservationLink').removeClass('selected');
          $('#myInfoLink').addClass('selected');
        });
      });
    </script>
  </th:block>
  <th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/pages/user/myPage.css}" />
  </th:block>
  <th:block layout:fragment="leftAside">
    <div class="menu">
      <h3>마이페이지</h3>
      <div>
        <a href="javascript:void(0)" id="reservationLink">예약목록</a>
      </div>
      <div>
        <a href="javascript:void(0)" id="myInfoLink">개인 정보 수정</a>
      </div>
    </div>
  </th:block>
  <th:block layout:fragment="main">
    <div class="wrapper">
      <h3 class="reservation__list">예약 목록</h3>
      <h3 class="modify__info">개인 정보 수정</h3>
      <div class="underline"></div>
      <div class="reservation-chk">
        <!-- 숙박업소 예약 목록, Thymeleaf로 반복 -->
        <div class="reservation-card">
          <h4>숙박업소 이름</h4>
          <p>룸 타입</p>
          <div class="reservation-details">
            <span class="material-symbols-outlined">event_available</span>
            <p>2024. 04. 14 ~ 2024. 04. 15</p>
          </div>
          <div class="reservation-info">
            <div class="number">
              <h4>예약번호</h4>
              <p>353454</p>
            </div>
            <div class="price">
              <h4>결제 금액</h4>
              <p>38493825 원</p>
            </div>
            <div class="customer-name">
              <h4>예약자명</h4>
              <p>OOO</p>
            </div>
            <div class="payment">
              <h4>결제 방법</h4>
              <p>신용카드</p>
            </div>
          </div>
        </div>
      </div>
      <div class="my-info">
        <div class="myinfo-card">
          <p>회원 정보</p>
          <form action="#" method="post">
            <div class="mb-2">
              <label for="nickname">이름</label>
              <span>김철수</span>
              <input
                type="text"
                name="nickname"
                class="form-control"
                placeholder="이름"
                aria-label="Disabled input example"
                disabled
              />
            </div>
            <div class="mb-2">
              <label for="email">이메일</label>
              <span>user@example.com</span>
              <input
                type="email"
                name="email"
                class="form-control"
                placeholder="수정할 이메일 입력"
                required
              />
            </div>
            <div class="mb-2">
              <label for="username">아이디</label>
              <span>user123</span>
              <input
                type="text"
                name="username"
                class="form-control"
                placeholder="수정할 아이디 입력"
              />
            </div>
            <div class="mb-2">
              <label for="phone">전화번호</label>
              <span>010-1234-5678</span>
              <input
                id="phone"
                name="phone"
                class="form-control"
                placeholder="- 제외하고 입력"
              />
            </div>
            <div class="mb-2">
              <label for="password">패스워드</label>
              <input
                type="password"
                name="password"
                class="form-control"
                placeholder="수정할 패스워드 입력"
              />
            </div>
            <div class="mb-2">
              <label for="gender">성별</label>
              <span>여</span>
              <input
                class="form-control"
                name="gender"
                type="text"
                placeholder="여"
                aria-label="Disabled input example"
                disabled
              />
            </div>
            <div class="mb-2">
              <label for="repassword">패스워드 확인</label>
              <input
                type="password"
                name="repassword"
                class="form-control"
                placeholder="패스워드 다시입력"
              />
            </div>
            <button type="submit" class="btn">수정</button>
          </form>
        </div>
      </div>
    </div>
    <script th:src="@{/js/signUp/formatPhoneNumber.js}"></script>
  </th:block>
</html>
