<div
    class="offcanvas offcanvas-end"
    data-bs-scroll="true"
    data-bs-backdrop="false"
    tabindex="-1"
    id="offcanvasRight"
    aria-labelledby="offcanvasRightLabel"
    th:fragment="chatOffCanvas"
>
    <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel">나는 문의 채팅창</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <input type="text" id="searchUsername" placeholder="Username을 입력하세요" />
        <button type="button" onclick="searchMessages()">검색</button>
        <ul class="list-group">
            <li
                class="list-group-item d-flex justify-content-between align-items-start"
                th:each="chatList : ${lastMessages}"
                th:attr="data-room-id=${chatList.value.roomId}"
                onclick="showPopup(this)"
                style="margin-top: 1rem;"
            >
                <div class="ms-2 me-auto">
                    <div class="fw-bold" th:text="${chatList.key}">UserName</div>
                    <div th:text="${chatList.value.contents}">Chat Contents</div>
                </div>
            </li>
        </ul>
    </div>
</div>
