<div class="reservation_chk" th:fragment="reservation_chk">
  <h3>예약 목록</h3>
  <div class="underline"></div>
  <h4>숙박업소 이름</h4>
  <p>룸 타입</p>
  <div class="reservation_date">
    <span class="material-symbols-outlined">event_available</span>
    <p>2024. 04. 14 ~ 2024. 04. 15</p>
  </div>
  <div class="room"></div>
  <div class="reservation_info">
    <div class="number">
      <h4>예약번호</h4>
      <p>353454</p>
    </div>
    <div class="price">
      <h4>결제 금액</h4>
      <p>38493825 원</p>
    </div>
    <div class="customer_name">
      <h4>예약자명</h4>
      <p>OOO</p>
    </div>
    <div class="payment">
      <h4>결제 방법</h4>
      <p>신용카드</p>
    </div>
  </div>
</div>
