<div class="section1" th:fragment="section1">
    <img th:src="@{/img/StayConnect-main.jpg}" />
    <div class="section1-left">
        <div class="title">
            <span class="material-symbols-outlined">location_on</span>
            <div class="underline"></div>
            <p>지도로 검색하기</p>
        </div>

        <div class="select-city">
            <div class="select-1" id="selectedItem">
                <button
                    class="btn btn-secondary dropdown-toggle"
                    type="button"
                    id="dropdownMenuButton1"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                >
                    대구시
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">서울시</a></li>
                    <li><a class="dropdown-item" href="#">인천시</a></li>
                    <li><a class="dropdown-item" href="#">경기도</a></li>
                    <li><a class="dropdown-item" href="#">경상북도</a></li>
                    <li><a class="dropdown-item" href="#">경상남도</a></li>
                    <li><a class="dropdown-item" href="#">충청도</a></li>
                    <li><a class="dropdown-item" href="#">강원도</a></li>
                    <li><a class="dropdown-item" href="#">전라도</a></li>
                    <li><a class="dropdown-item" href="#">제주도</a></li>
                </ul>
            </div>
            <div class="select-2">
                <button
                    class="btn btn-secondary dropdown-toggle"
                    type="button"
                    id="dropdownMenuButton1"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                >
                    중구
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </div>
            <div class="select-3">
                <button
                    class="btn btn-secondary dropdown-toggle"
                    type="button"
                    id="dropdownMenuButton1"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                >
                    봉산동
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </div>
            <input class="btn btn-primary" type="submit" value="이동" />
        </div>
        <div class="mapContainer">
            <div id="map"></div>
        </div>
    </div>
</div>
