<section class="section2" th:fragment="section2">
    <div class="search">
        <div class="underline"></div>
        <p>조건으로 검색하기</p>
        <form action="">
            <!-- 숙소검색 -->
            <div class="room">
                <span class="material-symbols-outlined">search</span>
                <input type="text" class="form-control" placeholder="이름 검색하기" aria-describedby="basic-addon1" />
            </div>
            <!-- 날짜검색 -->
            <div class="date">
                <span class="material-symbols-outlined">event_available</span>
                <input type="date" />
            </div>
            <!-- 인원 -->
            <div class="people">
                <span class="material-symbols-outlined">group</span>
                <select class="form-select" id="inputGroupSelect01">
                    <option selected>인원선택</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
            </div>
            <!-- 버튼 -->
            <button type="button" class="btn btn-outline-primary">조회하기</button>
        </form>
    </div>
</section>
