<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        //웹소켓 연결
        var socket = new WebSocket("ws://localhost:8080/chat");
        console.log("WebSocket created");

        socket.onopen = function() {
            console.log("WebSocket connection established");
        };

        socket.onmessage = function(event) {
            console.log("Message received: " + event.data);
            var messages = document.getElementById("messages");
            var message = document.createElement("li");
            message.appendChild(document.createTextNode(event.data));
            messages.appendChild(message);
        };

        socket.onerror = function(error) {
            console.log("WebSocket error: " + error);
        };

        socket.onclose = function() {
            console.log("WebSocket connection closed");
        };

        // //서버로부터 메시지 수신할 때 호출될 콜백 함수
        // socket.onmessage = function(event) {
        //     console.log("Received message: " + event.data);

        //     //ul 가져옴
        //     var messages = document.getElementById("messages");
        //     //리스트 li 요소 생성
        //     var message = document.createElement("li");
        //     //메시지 내용을 텍스트 노드로 생성 li 요소에 추가
        //     message.appendChild(document.createTextNode(event.data));
        //     //메시지 리스트에 새로운 메시지 li 요소 추가
        //     messages.appendChild(message);
        // };

        // 메시지 전송 할때 호출됨
        function sendMessage() {
            var input = document.getElementById("messageInput");
            socket.send(input.value);
            input.value = '';   //텍스트 입력 필드 비움
        }


    </script>
</head>
<body>
    <h1>Chat Room</h1>
    <ul id="messages"></ul>
    <input type="text" id="messageInput" placeholder="Enter your message"/>
    <button onclick="sendMessage()">Send</button>
    
</body>
</html>