<!DOCTYPE html>
<html
    lang="en"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout}"
>
    <th:block layout:fragment="javascript">
        <!-- 주소 검색 api -->
        <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
        <!-- 지도 api -->
        <script
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=929477699640084fe20e16282c9f60b5&libraries=services"
        ></script>
        <script th:src="@{/lib/swiper/swiper-bundle.min.js}"></script>
        <script src="https://cdn.jsdelivr.net/sockjs/1.0.3/sockjs.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
        <script th:src="@{/js/chat/chat.js}"></script>
    </th:block>
    <th:block layout:fragment="title">
        <title>chatList page</title>
    </th:block>
    <th:block layout:fragment="css"
        ><link rel="stylesheet" th:href="@{/css/pages/index.css}" />
        <!-- SWIPER -->
        <script th:src="@{lib/swiper/swiper-bundle.min.js}"></script>
    </th:block>

    <th:block layout:fragment="main">
        <ol class="list-group list-group-numbered chatRoomList">
            <li
                class="list-group-item d-flex justify-content-between align-items-start"
                th:each="roomList, ${roomList}"
            >
                <div class="ms-2 me-auto">
                    <div class="fw-bold" th:text="roomList.user.UserName">UserName</div>
                    <div>Chat Contents</div>
                </div>
                <span class="badge bg-primary rounded-pill">3</span>
            </li>
        </ol>
    </th:block>
</html>
