<!DOCTYPE html>
<html
   lang="en"
   xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{layouts/layout}">
   <th:block layout:fragment="javascript">
      <script th:src="@{/lib/swiper/swiper-bundle.min.js}"></script>
      <script th:src="@{/lib/axios/axios.min.js}"></script>
   </th:block>
   <th:block layout:fragment="title">
      <title>index page</title>
   </th:block>
   <th:block layout:fragment="css"
      ><link rel="stylesheet" th:href="@{/css/pages/index.css}" />
      <link rel="stylesheet" th:href="@{/css/layouts/index_mediaquery.css}" />
      <!-- SWIPER -->
   </th:block>
   <th:block layout:fragment="javascript">
      <script th:src="@{lib/swiper/swiper-bundle.min.js}"></script>
      <script th:src="@{lib/axios/axios.min.js}"></script>
   </th:block>
   <th:block layout:fragment="leftAside"> </th:block>
   <th:block layout:fragment="main">
      <div class="indexContainer">
         <section th:replace="~{fragments/index/mainSection_frag::mainSection}"></section>
         <section th:replace="~{fragments/index/conditionalSection_frag::conditionalSection}"></section>
      </div>
      <script
         src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=929477699640084fe20e16282c9f60b5&libraries=services"></script>
      <script th:src="@{/js/index/loadCurrentLocation.js}"></script>
      <script th:src="@{/js/index/index_scroll.js}"></script>
      <script th:src="@{/js/index/search.js}"></script>
   </th:block>
   <th:block layout:fragment="rightAside">
      <a href="#" class="btn_gotop">
         <span class="material-symbols-outlined"> keyboard_arrow_up </span>
         <p>
            지도로 <br />
            검색하기
         </p>
      </a>
   </th:block>
</html>
