<div class="footer" th:fragment="footer">
  <div class="member" id="member1">
    <p>강지영</p>
    <div class="icons">
      <a th:href="@{https://github.com/jiyoung79}">
        <img th:src="@{/img/github_logo.png}" alt="github" />
      </a>
      <a
        th:href="@{https://glowing-windscreen-f69.notion.site/STUDY-LOG-9ab0b9f9c33640689b07920514af02fc?pvs=4}"
      >
        <img th:src="@{/img/notion_logo.png}" alt="notion" />
      </a>
    </div>
  </div>
  <div class="member">
    <p>윤지원</p>
    <div class="icons">
      <a th:href="@{https://github.com/JIWON55}">
        <img th:src="@{/img/github_logo.png}" alt="github" />
      </a>
      <a
        th:href="@{https://www.notion.so/bacdd895475f4f248578618480ef3ebd?v=232e14781e2d4a918ab9978fce2a66a8&pvs=4}"
      >
        <img th:src="@{/img/notion_logo.png}" alt="notion" />
      </a>
    </div>
  </div>
  <div class="member">
    <p>이재형</p>
    <div class="icons">
      <a th:href="@{https://github.com/koonlx}">
        <img th:src="@{/img/github_logo.png}" alt="github" />
      </a>
      <a
        th:href="@{https://www.notion.so/Koonlx-Logs-0abf877a435e42b3a51a20417528de35?pvs=4}"
      >
        <img th:src="@{/img/notion_logo.png}" alt="notion" />
      </a>
    </div>
  </div>
  <div class="member">
    <p>조은파</p>
    <div class="icons">
      <a th:href="@{https://github.com/silverywaves}">
        <img th:src="@{/img/github_logo.png}" alt="github" />
      </a>
      <a
        th:href="@{https://buttered-submarine-e5a.notion.site/2195668e763f4ebfb75f4c3edd385553?v=f77ed11b29cf4120b94380b50e30e323&pvs=4}"
      >
        <img th:src="@{/img/notion_logo.png}" alt="notion" />
      </a>
    </div>
  </div>
</div>
