<div class="header" th:fragment="header">
  <div class="d-flex justify-content-between align-items-center">
    <div class="logo">
      <a th:href="@{/}">
        <img
          th:src="@{/img/logo.svg}"
          alt="StayConnect Logo"
          class="img-fluid"
          style="height: 80px"
        />
      </a>
    </div>
    <nav>
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/signin}">로그인</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/signup}">회원가입</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/mypage}">
            <span class="material-symbols-outlined">account_circle</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
