body{
    margin: 0;
}

/* signup */
.join-logo{
    width: 100%;
    height: 120px;
    margin: 50px 0 10px 0;
    text-align: center;
}
.join-logo img{
    width: 90px;
    height: 100%;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container>.joinForm{
    /*border: 1px solid lightgray;*/
    border-radius: 10px;
    background-color: rgba(246,246,246,0.5);
    padding: 0;
    width: 800px;
    box-shadow: 3px 3px 3px lightgray;
}
.joinTitle{
    text-align: center;
    margin: 0;
    padding: 30px;
}
.top-join{
    padding: 0px 70px 15px;
}
.top-join .user-input{
    margin-bottom: 10px;
}
.id-no{
    width: calc(100% - 20px);
    display: flex;
    justify-content: space-between;
}
.id-no>.id-no-space{
    display: flex;
}
.list{
    margin-bottom: 5px;
    color: gray;
    font-size: 0.9rem;
}
.input-blank{
    width: 100%;
    height: 35px;
    margin: 0;
    padding: 5px;
}
.mid-join{
    margin: 0 70px;
    /*border: 1px solid black;*/
}
.mid-join .agree-list{
    padding: 0 70px;
    margin: 10px;
    font-weight: bold;
    font-size: 1.1rem;
}
.mid-join .agree-list-select{
    padding: 0 100px;
    margin-bottom: 10px;
    font-size: 1.1rem;
}
.mid-join>.agree>.agree-list{
    padding : 0 90px;
    font-size: 1.1rem;
}
.bot-join{
    margin: 20px 70px;
    padding: 0 50px;
    /*border: 1px solid black;*/
}
.mid-join>.all-agree{
    width: 100%;
    border-bottom: 1px solid #a7d0de;
}


.bot-join>div{
    margin-bottom: 10px;
    height: 60px;
    border-radius: 20px;
    font-size: 1.1rem;
    font-weight: bold;
}
.join-oth-logo{
    margin: 5px 5px 0 0;
    height: 40px;
    line-height: 50px;
}
.bot-join>.join-kakao{
    background-color: #f9e000;
}
.bot-join>.join-kakao span{
    color: #3c1e1e;
}
.bot-join>.join-naver{
    background-color: #00c73c;
    color: white;
}
.bot-join>.join-naver span{
    color: white;
}
.bot-join>.join-google{
    background-color: white;
    border: 1px solid lightgray;
    color: #3c1e1e;
}
.bot-join>.join-google span{
    color: gray;
}
.bot-join>.join-google .join-oth-logo{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.join-oth{
    height: 100%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    display: flex;
    color: black;
}
.foot-join{
    display: flex;
    height: 70px;
    border-top: 2px solid #a7d0de;
}
.foot-join>.back-or-join{
    width: 50%;
    text-align: center;
}

.foot-join>.back-or-join a{
    text-decoration: none;
    font-weight: bold;
    font-size: 1.4rem;
    color: #a7d0de;
    line-height: 70px;
}
