.footer {
  width: 100%;
  /* height: 110px;
  margin-top: 150px; */
  /* border : 1px solid black; */
  display: flex;
  justify-content: space-around;
  background-color: rgb(231, 231, 231);
  position: absolute;
  clear: both;
  height: 110px;
}

.footer .member {
  width: 200px;
  height: 110px;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  /* border: 1px solid lightblue; */
  position: relative;
}

.footer .member p {
  font-family: 'SUIT-Regular';
  color: black;
  display: flex;
  margin-top: 10px;
}

.footer .member a {
  width: 30px;
  height: 30px;
  display: flex;
  margin-left: 40px;
}
