<section class="conditional-section" th:fragment="conditionalSection">
    <div class="city-category">
        <p class="title-1">인기 도시별 추천 숙소</p>
        <div class="underline1"></div>
        <div class="city1">
            <div class="box">
                <a href="#" id="scrollToBottom">
                    <img alt="city" th:src="@{/img/city/seoul.jpg}"/>
                </a>
                <p>서울</p>
            </div>
            <div class="box">
                <a href="#" id="scrollToBottom">
                    <img alt="city" th:src="@{/img/city/busan.jpg}"/>
                </a>
                <p>부산</p>
            </div>
            <div class="box">
                <a href="#" id="scrollToBottom">
                    <img alt="city" th:src="@{/img/city/jeju.jpg}"/>
                </a>
                <p>제주</p>
            </div>
            <div class="box">
                <a href="#" id="scrollToBottom">
                    <img alt="city" th:src="@{/img/city/gangwon.jpg}"/>
                </a>
                <p>강원</p>
            </div>
            <div class="box">
                <a href="#" id="scrollToBottom">
                    <img alt="city" th:src="@{/img/city/daegu.jpg}"/>
                </a>
                <p>대구</p>
            </div>
        </div>

        <div class="city2">
            <div class="box">
                <a href="#" id="scrollToBottom">
                    <img alt="city" th:src="@{/img/city/pohang.jpg}"/>
                </a>
                <p>포항</p>
            </div>
            <div class="box">
                <a href="#" id="scrollToBottom">
                    <img alt="city" th:src="@{/img/city/jeonju.jpg}"/>
                </a>
                <p>전주</p>
            </div>
            <div class="box">
                <a href="#" id="scrollToBottom">
                    <img alt="city" th:src="@{/img/city/damyang.jpg}"/>
                </a>
                <p>담양</p>
            </div>
            <div class="box">
                <a href="#" id="scrollToBottom">
                    <img alt="city" th:src="@{/img/city/gyeongju.jpg}"/>
                </a>
                <p>경주</p>
            </div>
            <div class="box">
                <a href="#" id="scrollToBottom">
                    <img alt="city" th:src="@{/img/city/daejeon.jpg}"/>
                </a>
                <p>대전</p>
            </div>
        </div>
    </div>

    <div class="search">
        <p class="title-2">조건으로 검색하기</p>
        <div class="underline2"></div>
        <form id="searchForm" method="get" onsubmit="performSearch(); return false;">
            <div>
                <!-- 숙소검색 -->
                <div class="input-group">
                    <span class="input-group-text material-symbols-outlined">search</span>
                    <input
                            aria-label="Room search"
                            class="form-control"
                            id="searchText"
                            name="searchText"
                            placeholder="이름 검색하기"
                            type="text"
                    />
                </div>
                <!-- 날짜검색 -->
                <div class="input-group">
                      <span class="input-group-text material-symbols-outlined"
                      >event_available</span
                      >
                    <input aria-label="Date picker" class="form-control" type="date"/>
                </div>
                <!-- 인원 -->
                <div class="input-group">
                    <span class="input-group-text material-symbols-outlined">group</span>
                    <select
                            aria-label="People select"
                            class="form-select"
                            id="inputGroupSelect01"
                    >
                        <option selected>인원 선택</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </div>
                <!-- 버튼 -->
                <button class="searchBtn btn btn-primary" type="submit">조회하기</button>
            </div>
        </form>
    </div>
    <div class="hotels" id="hotelList">
        <div class="card" th:each="accommodation : ${accommodations}">
            <img th:src="@{https://placehold.co/300}"/>
            <a th:href="@{'/accommodation/detail/'+${accommodation.id}}">
                <p th:text="${accommodation.accommodationName}">숙소이름</p>
                <p th:text="${#numbers.formatInteger(accommodation.minPrice, 3, 'COMMA') + '원 ~'}">47000원</p>
            </a>
        </div>
    </div>
    <!--    <div class="pagination">-->
    <!--        <a href="#" onclick="navigateToPage(${nowPage - 1}); return false;" th:if="${nowPage > 0}">Previous</a>-->
    <!--        <span th:text="'Page ' + (${nowPage + 1}) + ' of ' + ${totalPages}">Page 1 of 1</span>-->
    <!--        <a href="#" onclick="navigateToPage(${nowPage + 1}); return false;" th:if="${nowPage < totalPages - 1}">Next</a>-->
    <!--    </div>-->
    <!-- 페이징 블록 생성 -->
    <div th:if="${accommodations.size() >= 1}">
        <div class="pagination">
            <a th:classappend="${pageNumber == nowPage} ? 'active' : ''"
               th:each="pageNumber : ${#numbers.sequence(startPage, endPage)}"
               th:href="@{'/?page=' + (${pageNumber - 1}) + '&scroll=true'}">
                <span th:text="${pageNumber}"></span>
            </a>
        </div>
    </div>
</section>
